@font-face {
    font-family: 'text';
    src: url('fonts/idroid.otf') format('opentype');
}
@font-face {
    font-family: 'title';
    src: url('fonts/animeace2_bld.otf') format('opentype'), url('fonts/animeace2_ital.otf') format('opentype'), url('fonts/animeace2_reg.otf') format('opentype');
}
*{
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    padding-bottom: 0em;
    /*background-image: url(imagens/indexfundo.jpg);
    background-size: 100% 100%;*/
}

.head {
    background-image: linear-gradient(to bottom, #506AD4, #26ade4);
    font-family: Arial, Helvetica, sans-serif;  
}

.button-container {
    position: relative;
    top: 1em;
}

.primary-button {
    background-color: #1a349b;
    border-radius: 7px;
    padding: 0.5em 1em;
    position: absolute;
    left: 1em;
    text-decoration: none;
}

.second-button {
    background-color: #1a349b;
    border-radius: 7px;
    padding: 0.5em 1em;
    position: absolute;
    right: 1em;
    text-decoration: none;
}

.title {
    text-shadow:  2px 2px 2px  rgba(0, 0, 0, 0.5);
    font-family: 'title', Arial;
    text-align: center;
    padding-top: 2em;
    margin: 0em 1em 0.4em 1em;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0em 1em 0em;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.4em;
    transition-duration: 0.6s;
}

.state:hover{  
    border-radius: 7px;
    background-color: #506AD4;
}

.container{
    background-image: url(imagens/indexfundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 1em;
    height: 100vh;
    width: 70%;
    margin: auto;
}

.section {
    margin-bottom: 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13);
}

.sub-title{
    font-family:Arial, Helvetica, sans-serif;
    padding: 1em  0em 1em 1em;
    background-color:#26ade4; 
    /*box-shadow: 3px 2px 6px rgb(0, 0, 0);*/
}

.nav-explore {
    background-color: #534e4e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 2em;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.507);
} 

.nav-explore-item {
    text-decoration: none;
    padding: 1em;
}

@media (max-width: 536px) {
    .button-container {
        padding-bottom: 1em;
    }

    .nav-bar {
        padding-top: 0em;
    }

    .title {
        font-size: 25px;
        padding-bottom: 1em;
    }

    .sub-title {
        font-size: 10px;
    }

    .nav-explore {
        padding: 0.3em;
    }

    .nav-explore-item  {
        padding: 0.8em;
    }
}

@media (max-width: 486px) {
    .button-container {
        font-size: 0.8em;
    }

    .title {
        font-size: 20px;
    }

    .nav-explore-item  {
        padding: 0.6em;
    }

    .nav-item {
        font-size: 13px;
    }

    .section-primary {
        padding-bottom: 1em;
    }
}


@media (max-width: 403px) {
    .button-container {
        padding-bottom: 2em;
    }

    .title {
        font-size: 18px;
    }

    .nav-explore-item  {
        font-size: 13px;
        padding: 0.6em;
    }

    .sub-title {
        font-size: 8px;
    }
}
