@font-face {
    font-family: 'text';
    src: url('fonts/idroid.otf') format('opentype');
}
@font-face {
    font-family: 'title';
    src: url('fonts/animeace2_bld.otf') format('opentype'), url('fonts/animeace2_ital.otf') format('opentype'), url('fonts/animeace2_reg.otf') format('opentype');
}
*{
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url(imagens/indexfundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.head {
    width: 100%;
    background-image: linear-gradient(to bottom, #506AD4, #26ade4);
    font-family: Arial, Helvetica, sans-serif; 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}

.button-container {
    position: relative;
    top: 1em;
}

.button-config {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082);
    background-color: #4a98b7b6;
    border-radius: 7px;
    padding: 0.5em 1em;
    text-decoration: none;
    transition-duration: 0.6s;
    position: absolute;
}

.primary-button {
    left: 1em;
}

.second-button {
    right: 1em;
}

.hover-navbar-and-login:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
    border-radius: 7px;
    background-color: #4a98b7b6;
    padding: 1em 2em;
}

.title {
    text-shadow:  2px 2px 2px  rgba(0, 0, 0, 0.5);
    font-family: 'title', Arial;
    text-align: center;
    padding: 2em 1em 0.4em 1em;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 2em 0em 1em 0em;
    list-style: none;
}

.nav-item {
    border-radius: 7px;
    padding: 0.5em 1em;
    text-decoration: none;
    transition-duration: 0.6s;
}

.state:hover{  
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
    border-radius: 7px;
    background-color: #4a98b7b6;
}

.container{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
    padding-top: 0px;
    width: 70%;
}

.section {
    background-color: rgb(81, 83, 85) ;
}

.sub-title{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
    font-family:Arial, Helvetica, sans-serif;
    padding: 1em  0em 1em 1em;
    background-color: #1c9bce ;
}

.nav-explore {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 1em;
} 

.nav-explore-item {
    text-decoration: none;
    padding: 1em;
}

@media (max-width: 600px) {
    .button-container {
        padding-bottom: 1em;
    }

    .nav-bar {
        padding-top: 0em;
    }

    .title {
        font-size: 25px;
        padding-bottom: 1em;
    }

    .sub-title {
        font-size: 10px;
    }

    .nav-explore {
        padding: 0.3em;
    }

    .nav-explore-item  {
        padding: 0.8em;
    }
}

@media (max-width: 486px) {
    .button-container {
        font-size: 0.8em;
    }

    .container{
        width: 70%;
    }

    .title {
        font-size: 20px;
    }

    .nav-explore-item  {
        padding: 0.6em;
    }

    .nav-item {
        font-size: 13px;
    }
}


@media (max-width: 403px) {
    .button-container {
        padding-bottom: 2em;
    }

    .title {
        font-size: 18px;
    }

    .nav-explore-item  {
        font-size: 13px;
        padding: 0.6em;
    }

    .sub-title {
        font-size: 8px;
    }
}
