* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: arial;
}

body {
    margin-bottom: 0em;
    background-color: #D9D5CA;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../imagens/cadastrese.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-container {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: solid 2px #D2DFE0;
    background-color: #F6F6F6;
    width: 30em;  
    height: 100%; 
    margin-bottom: 0px;
}

.header {
    padding: 1em;
    background-color: #E1EAEB;
}

.primary-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 4em 0em 1em;
}

.second-container {
    display: flex;
    flex-direction: column;
    padding: 0em 4em 1em 1em;
}

.all-inputs {
    margin: 5px 0px 1em 0px;
    border: solid 1px rgba(0, 0, 0, 0.349);
    height: 2em;
    border-radius: 4px;
    text-indent: 0.6em;
}

.all-inputs:focus{
    background-color: #D2DFE0;
}


.button {    
    background-color: #61BF5E;
    padding: 1em 2em;
    border-radius: 5px;
    color: white;
    position: relative;
    left: 1em;
    bottom: 10px;
}

@media (max-width: 600px) {
    .primary-container {
        display: flex;
        flex-direction: column;
        padding: 1em 0em 0em 1em;
    }

    .second-container {
        padding: 0em 0em 1em 1em;
    }

    .main-container {
        width: 100%;
        width: 25em;
        padding: 0em 1em 0em 1em;
    }

    .header {
        width: 24.7em;
        margin-left: -1em;
    }

    .all-inputs {
        width: 80%;
    }
}
