@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #D9D5CA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-image: url(../imagens/cadastrese.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.main-container {
    margin-bottom: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: solid 2px #D2DFE0;
    background-color: #F6F6F6;
    width: 30em;
}

.title {
    padding: 17px 0px 7px 0px;
    text-align: center;
    font-weight: 400;
    color: #027373;
}

.line {
    width: 55%;
    margin: auto;
    border: solid 1px #D2DFE0;
    margin-bottom: 17px;
}

.flex-container {
    padding: 1em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-all {
    text-indent: 2em;
    height: 2.7em;
    margin: 0.4em 1em 0.7em 0em;
    border: solid 1px rgba(0, 0, 0, 0.349);
    border-radius: 4px;
}

.input-all:focus {
    background-color: #D2DFE0;
}

.container-repeat-passaword {
    width: 88%;
    margin-right: 0.9em;
}

.input-repeat-passaword {
    width: 100%;
}

.button-container {
    width: 91%;
}

.button {
    padding: 1em;
    border-radius: 5px;
    color: white;
    background-color: #4A99B7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
}

.button:hover {
    cursor: pointer;
}

.all-icon {
    background-repeat: no-repeat;
    background-position: 5px;
}

.name-icon {
    background-image: url(icones/usuariio.png);
}

.user-name-icon {
    background-image: url(icones/user-name.png);
}

.email-icon {
    background-image: url(icones/email.png);
}

.passaword-icon {
    background-image: url(icones/passaword.png);
}

@media (max-width: 540px) {
    .main-container {
        margin-bottom: 0em;
        height: 100%;
        width: 90%;
    }

    .flex-container {
        padding: 1em 0em 0em 3em;
        display: flex;
        flex-direction: column;
    }

    .input-all {
        height: 2.7em;
        margin: 0.4em 0em 0.7em 0em;
        padding-right: 0em;
        border: solid 1px rgba(0, 0, 0, 0.349);
        border-radius: 4px;
        width: 70%;
    }

    .container-repeat-passaword {
        width: 70%;
    }
    
    .input-repeat-passaword {
        width: 100%;
    }
    
    .button {
        font-size: 0.8em;
        padding: 0.4em;
        border-radius: 5px;
    }
}
