* {
    margin: 0px;
    padding: 0px;
    box-sizing: border;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../imagens/login.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: solid 2px #D2DFE0;
    background-color: #F6F6F6;
    width: 30em;
}
.form {
    width: 90%;
    margin-left: 1em;
}

.title {
    padding: 17px 0px 7px 0px;
    text-align: center;
    font-weight: 400;
    color: #027373;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    width: 55%;
    margin: auto;
    border: solid 1px #D2DFE0;
    margin-bottom: 17px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.input-login {
    height: 2.6em;
    margin: 0.4em 0em 0.7em 0em;
    text-indent: 2em;
    border: solid 1px rgba(0, 0, 0, 0.349);
    border-radius: 4px;
}

.input-icon-config {
    background-repeat: no-repeat;
    background-position: 5px;
}

.email-icon {
    background-image: url(icones/arroba.png);
}

.psw-icon {
    background-image: url(icones/passaword.png);
}

.input-login:focus {
    background-color: #D2DFE0;
}

.save-dados {
    margin: 0em 0.4em 0.7em 0em;
}

.button {
    padding: 1em;
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: #4A99B7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
}

.button:hover {
    cursor: pointer;
}

.footer {
    background-color: #E1EAEB;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    align-items: center;
    height: 3em;
}

.item-link {
    border: solid 1px #DAE17C;
    text-decoration: none;
    color: #45B6CC;
    padding: 0.1em 0.3em;
    background-color: #F6F7F0;
    margin: 0em 1.7em 0em 0.5em;
}

@media (max-width: 540px) {
    .container {
        height: 90%; 
        width: 90%;
        margin: 0px;
    }

    .header {
        padding-top: 3em;
        padding-bottom: 1em;
    }
   
    .footer {
        position: absolute;
        bottom: 0px;
        width: 90%;
    }

    .item-one-footer { 
        padding-left: 1em;
    }

}
